a {
  text-decoration: none;
  color: #377BB5;
}

li i{
  color: #377BB5;
}

.highlight {
  background-color: #f8f9fa;
  border-left: 4px solid #377BB5;
  padding: 10px;
  font-style: italic;
  color: #333;
}
